<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.epictimes.reddit">

    <application
        android:name=".RedditApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".features.feed.FeedActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.login.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="epictimes.net"
                    android:scheme="reddit" />
            </intent-filter>
        </activity>

        <activity android:name=".features.post_detail.PostDetailActivity" />

        <activity android:name=".features.subreddit_detail.SubredditDetailActivity" />

        <activity android:name=".features.image_detail.ImageDetailActivity" />

        <activity android:name=".features.video_detail.VideoDetailActivity" />

        <activity android:name=".features.search.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_subreddit" />
        </activity>

        <receiver android:name=".features.widget.RedditWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/reddit_widget_provider_info" />
        </receiver>

        <service
            android:name=".features.widget.RedditRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>
</manifest>
